.image_artist{
    width: 300px;
    padding: 30px;
    font-size: small;

}

.info_artist{
border: 2px solid black;
margin-bottom: 10px;
color: black;
}

h3{
    padding-left: 200px;
    margin-left: 110px;
    font: small-caps bold 24px/1 sans-serif;
    color: black
}

h1{
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 30px;
    font-family: OCR A Std, monospace 

}

p{
    font-family: cursive;
    padding-left: 30px;
}
.img{
    width: 80px;
    height: 80px;

}
.global{
    margin-left: 27%;
}
.h{
    margin-left: 90%;
    
}
.global-1{
    background-color: black;
    color: white !important;
    
}
.btn2{
    margin-left: 91%;
}
.container-fluid{
    color: white !important;
}
.album1{
    border: 2px solid rgb(185, 183, 183);
}